:root {
    --mensagem-cor: #FFFFFF;
    --input-texto-cor: #000000;
    --placeholder-cor: #A8A8A8;
    --invalido-cor: #F52E2E;
    --valido-cor: #00C22B;
    --botao-enviar-background-cor: #3CCC87;
    --botao-enviar-background-active-cor: #278356;

    --botao-enviar-cor: #FFFFFF;
    --formulario-background-cor: #FFFFFF;
    --input-borda-color: #000000;
}


body{
    height: 100vh;
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.mensagens{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;

    height: 11rem;
    width: 30rem;

    color: var(--mensagem-cor);
}


.mensagens h1 span{
    display: block;
    font-size: 2rem;
    font-weight: 900;
    max-width: 28.7rem;
}


.mensagens p{
    font-size: 1.5rem;
}


.formulario{
    display: flex;
    flex-direction: column;

    width: 34rem;
    height: 38rem;

    background-color: var(--formulario-background-cor);

    padding: 2rem;

    gap: 1.5rem;
}


.formulario .input{
    border: 0.1rem solid var(--input-borda-color);
    border-radius: 0.5rem;
    width: 100%;
    height: 3.5rem;
    padding-left: 1rem;
    color: var(--input-texto-cor);
}

.input::placeholder{
    color: var(--placeholder-cor);
}

.input-mensagem{
    min-height: 10rem;
    padding-top: 0.8rem;
    resize: none;
}


.texto-campo-obrigatorio{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: -1rem;
    margin-left: -0.7rem;
}

.botao-enviar{
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--botao-enviar-background-cor);
    color: var(--botao-enviar-cor);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.botao-enviar:active{
    background-color: var(--botao-enviar-background-active-cor);
    transition: 0.2s ease;
}






@media (max-width: 750px){
    .container{
        flex-direction: column;
    }

    .formulario{
        max-width: 90%;
    }

    .mensagens{
        text-align: center;
    }


}